body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    padding: 0;
    margin: 0;
}
header{
    height: 950px;
    width: 15%;
    flex-direction: column;
    padding: 0 0 0 3%;
}
nav{
    height: 950px;
    width: 15%;
    flex-direction: column;
    padding: 0 3% 0 2%;
}
main{
    background: #F2F2F2;
    height: 950px;
    width: 70%;
    flex-direction: column;
}
.container_header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin-top: 26px;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left;
}
a:hover{
    color:#FF9846;
}
.menu_btn{ 
    align-items: center;
    background: #fff;
    display: flex;
    margin-left: 40px;
    margin-top: 15px;
}
.header_menu{
    margin-top: 30px;
}
.menu_btn a{
    padding-left: 15px;
}

.nav_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
}
.korzina{
    background: #F2F2F2;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}
.text{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #A4ACAD;
}
.korzina_btn{
    color: #fff;
    width: 100%;
    height: 40px;
    margin-top: 26px;
    border-radius: 0px 0px 5px 5px;
    border: none;
    background: #FF9846;
}
.adress {
    background: #F2F2F2;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 10px;
    border-radius: 5px;
} 
.map-container {
    width: 100%;
} 
.address-container {  
    max-width: 300px;
    margin-top: 30px;
    text-align: center;
}
.illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50% ;
    background: #FF9846;
    position: absolute;
}
.main_container_1{
    display: flex;
    border-bottom: 1px solid #A4ACAD;
}
.main-header{
    width: 25%;
    background: #fff;
    border-right:  0.5px solid #A4ACAD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
.main-header a{
    color: #FF9846;
}
.main-header a:hover{
    color: #333;
}
.grafic{
    display: flex;
    margin-top: 5px;
}
.main-nav{
    width: 75%;
    background: red;
}